.utilities-section {

  background: white;

  margin: 20px ;

  padding: 20px;

  border-radius: 20px;
}

/* HEADER */

.section-header {

  display: flex;

  justify-content: space-between;

  align-items: center;
}

.section-header h2 {

  font-size: 22px;

  font-weight: 500;
}

.section-header button {

  border: none;

  background: #edf0ff;

  padding: 10px 15px;

  border-radius: 10px;

  color: blue;

  cursor: pointer;

  font-size: 14px;
}

/* GRID */

.utilities-grid {

  display: grid;

  grid-template-columns: repeat(4,1fr);

  gap: 20px;

  margin-top: 25px;
}

/* CARD */

.utilities-card {

  text-align: center;
}

/* ICON */

.utilities-icon {

  width: 70px;

  height: 70px;

  margin: auto;

  background: #eef7ff;

  border-radius: 18px;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 32px;
}

/* TEXT */

.utilities-card p {

  margin-top: 12px;

  font-size: 15px;

  line-height: 22px;
}

/* MOBILE RESPONSIVE */

@media (max-width: 768px){

  .utilities-grid{

    grid-template-columns: repeat(4,1fr);

    gap: 10px;
  }

  .utilities-icon{

    width: 55px;

    height: 55px;

    font-size: 24px;
  }

  .utilities-card p{

    font-size: 13px;

    line-height: 18px;
  }

  .section-header h2{

    font-size: 18px;
  }

  .section-header button{

    padding: 8px 12px;

    font-size: 12px;
  }
}